{{ form_start(form) }}

<form>
    <div class="form-row">
        <div class="row">
            <div class="col-4">
                <div class="form-floating mb-3">
                    {{ form_widget(form.nombre,{
                        'attr': {'class': 'form-control', 'placeholder':'Nombre',
                        } } ) }}
                    <label for="Lugar">{{ form_label(form.nombre) }}</label>
                    <div>{{ form_errors(form.nombre) }}</div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-3">
                    {{ form_widget(form.lugar,{
                        'attr': {'class': 'form-control', 'placeholder':'Lugar',
                        } } ) }}
                    <label for="Lugar">{{ form_label(form.lugar) }}</label>
                    <div>{{ form_errors(form.lugar) }}</div>
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    {{ form_widget(form.hora,{
                        'attr': {'id':'floatingSelect','class': 'form-select form-select-lg'
                        } } ) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <label class="form-check-label" for="floatingSelect">{{ form_label(form.responsables) }}</label>
                {{ form_widget(form.responsables,{
                    'attr': {'id':'floatingSelect','class': 'js-example-basic-multiple form-select form-select-lg '
                    } } ) }}
            </div>
        </div>
        <div class="row">
            <div class="col mt-3">
                <div class="form-floating mb-3">
                    <div class="form-check form-switch">
                        {{ form_widget(form.estatus,{
                            'attr': {'class': 'form-check-input', 'placeholder':'Activo',
                                'id': 'lexSwitchCheckChecked'
                            } } ) }}
                        <label class="form-check-label" for="flexSwitchCheckChecked">{{ form_label(form.estatus) }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
    {{ form_end(form) }}
</form>

