{% extends 'base.html.twig' %}

{% block title %}Seminario{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
 {% endblock %}

{% block body %}
    <h1>Seminario</h1>

    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Lugar</th>
                <th>Hora</th>
                <th>Estatus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seminario in seminarios %}
            <tr>
                <td>{{ seminario.id }}</td>
                <td>{{ seminario.nombre }}</td>
                <td>{{ seminario.lugar }}</td>
                <td>{{ seminario.hora ? seminario.hora|date('H:i:s') : '' }}</td>
                <td>{{ seminario.estatus ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('seminario_show', {'id': seminario.id}) }}">show</a>
                    <a href="{{ path('seminario_edit', {'id': seminario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('seminario_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <script type="application/javascript">
        $(document).ready(function() {
        $('#example').DataTable();
        } );
    </script>

{% endblock %}
