{% extends 'base.html.twig' %}

{% block title %}Responsable index{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
 {% endblock %}
{% block body %}
    <h1>Responsable index</h1>

    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Institucion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsable in responsables %}
            <tr>
                <td>{{ responsable.slug }}</td>
                <td>{{ responsable.nombre }}</td>
                <td>{{ responsable.apellidos }}</td>
                <td>{{ responsable.email }}</td>
                <td>{{ responsable.institucion }}</td>
                <td>
                    <a href="{{ path('responsable_show', {'id': responsable.id}) }}">show</a>
                    <a href="{{ path('responsable_edit', {'id': responsable.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('responsable_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>

{% endblock %}
