{% extends 'base.html.twig' %}

{% block title %}Eventos CCM{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
 {% endblock %}
{% block body %}
    <h3>Eventos CCM</h3>

    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lugar</th>
                <th>Responsables</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Ponente</th>
                <th>Origen</th>
                <th>Platica</th>
                <th>Resumen</th>
                <th>Comentario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td>{{ evento.id }}</td>
                <td>{{ evento.lugar }}</td>
                <td>{{ evento.responsables }}</td>
                <td>{{ evento.fecha ? evento.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ evento.hora ? evento.hora|date('H:i:s') : '' }}</td>
                <td>{{ evento.ponente }}</td>
                <td>{{ evento.origen }}</td>
                <td>{{ evento.platica }}</td>
                <td>{{ evento.resumen }}</td>
                <td>{{ evento.comentario }}</td>
                <td>
                    <a href="{{ path('evento_show', {'id': evento.id}) }}"><i class="bi bi-search"></i></a>
                    <a href="{{ path('evento_edit', {'id': evento.id}) }}"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('evento_new') }}"><i class="bi bi-plus-circle"></i> Nuevo</a>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>

{% endblock %}