{% extends 'base.html.twig' %}

{% block title %}Nuevo evento{% endblock %}

{% block stylesheets%}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('evento_index') }}">Eventos</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{  evento.slug }} </li>
            </ol>
        </nav>
        <h3 class="my-4">Registro</h3>

        {{ include('evento/_form.html.twig') }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
       $(document).ready(function() {
           let seminario = document.querySelector('.js-evento-seminario');
           console.log(seminario);

           seminario.addEventListener('change', (event) => {
               console.dir(event.target);

               if (event.target.value) {
                   $.ajax({
                       url: `/api/seminarios/${event.target.value}.json`,
                       method: 'GET',
                       success: function (json) {
                           // let s = JSON.parse('{"name":"John", "age":30, "city":"New York"}');

                           console.log(json.lugar, json.correosStr, json.responsablesStr);
                           console.dir(json.hora);

                           // hora: "1970-01-01T13:00:00+00:00"  no GTM INFO
                           let d = new Date(json.hora);
                           let timectl = $(".js-evento-hora");

                          // var utcDate = tDate.toUTCString();
                           console.log(d.getUTCHours(), d.getUTCMinutes());
                           console.dir(timectl);

                           // $('.js-evento-lugar').val(s.city);
                           $('.js-evento-lugar').val(json.lugar);

                           // Busca el select de la hora y minuto
                           // id="evento_hora_hour"
                           // id="evento_hora_minute"

                           document.getElementById("evento_hora_hour").value = d.getUTCHours();
                           document.getElementById("evento_hora_minute").value = d.getUTCMinutes();

                       },
                       statusCode: {
                           404: function () {
                               //Clear responsables, hora fields
                               console.log('error')
                           }
                       }
                   });
               } else {
                   // Clear fields responsables, hora
                   console.log('No data');
                   $('.js-evento-lugar').val('');
               }
               // console.log(`Selected ${event.target.value}`);
           });
       });
    </script>
{% endblock %}

