{% extends 'base.html.twig' %}

{% block title %}Evento{% endblock %}

{% block body %}

    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('evento_index') }}">Eventos</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{  evento.slug }} </li>
            </ol>
        </nav>

        <div class="seminar-container mt-5">
            <div class="seminar-name">{{ evento.seminario.nombre }}</div>
            <div class="seminar-event d-flex">
                <div class="seminar-info d-row">
                    <h3 class="seminar-title mt-3"><a href="{{ path('evento_show', {'slug': evento.slug}) }}">{{ evento.platica }}</a></h3>
                    <div class="speaker d-inline">{{ evento.ponente }}</div> - <div class="university d-inline">{{ evento.origen }}</div>
                    <hr>
                    <div class="d-inline mt-3"><i class="bi bi-geo-alt"></i> {{ evento.lugar }}</div>
                    <div class="d-block mt-2">
                        <div class="evento-calendar d-inline"><i class="bi bi-calendar"></i>  {{ evento.fecha|format_date('long', locale='es') }}</div> - <div class="seminario-hora d-inline"><i class="bi bi-clock"></i> {{ evento.hora|date('H:i') }}</div>
                    </div>
{#                    {{ 'Symfony String + Twig = <3'|u.wordwrap(5) }}#}
                    <div class="abstract mt-3">
                            {{ evento.resumen }}
                    </div>
                    <div class="comment">
                        {{ evento.comentario }}
                    </div>
                </div>
            </div>
        </div>


{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ evento.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Slug</th>#}
{#                <td>{{ evento.slug }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Lugar</th>#}
{#                <td>{{ evento.lugar }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Responsables</th>#}
{#                <td>{{ evento.responsables }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Emails</th>#}
{#                <td>{{ evento.emails }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Fecha</th>#}
{#                <td>{{ evento.fecha ? evento.fecha|date('Y-m-d') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Hora</th>#}
{#                <td>{{ evento.hora ? evento.hora|date('H:i:s') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Ponente</th>#}
{#                <td>{{ evento.ponente }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Origen</th>#}
{#                <td>{{ evento.origen }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Platica</th>#}
{#                <td>{{ evento.platica }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Resumen</th>#}
{#                <td>{{ evento.resumen }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Comentario</th>#}
{#                <td>{{ evento.comentario }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('evento_index') }}">back to list</a>#}

{#    <a href="{{ path('evento_edit', {'id': evento.id}) }}">edit</a>#}

    </div>
{#    {{ include('evento/_delete_form.html.twig') }}#}
{% endblock %}
