<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Registro de eventos CCM{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
     {#   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">#}
    {% endblock %}
</head>
<body>
{% block header %}

    <div class="container mt-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
{#                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="32" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">#}
{#                        <path d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z"/>#}
{#                    </svg>#}
                    <span class="fs-4">Coloquio y Seminarios CCM</span>
                </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                {#    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Inicio</a>#}
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{{ path('seminario_index') }}">Seminarios</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{{ path('evento_index') }}">Eventos</a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Sesión iniciada
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Correo</a></li>
                                <li><a class="dropdown-item" href={{ path('seminario_index') }}#">Seminarios</a></li>
                                <li><a class="dropdown-item" href="{{ path('responsable_index') }}">Responsables</a></li>
                                <li><a class="dropdown-item" href="{{ path('user_index') }}">Usuarios</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar sesión</a></li>
                            </ul>
                        </div>

                    {% else %}
                        <a class="me-3 py-2 text-dark text-decoration-none" href="{{ path('app_login') }}">Iniciar sesión</a>
                    {% endif %}


{#                    <a class="me-3 py-2 text-dark text-decoration-none" href="{{ path('responsable_index') }}"><i class="bi bi-person-lines-fill"></i> Responsables</a>#}
                </nav>
            </div>
        </header>
    </div>
{% endblock %}

{% block body %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
